<a href="https://colab.research.google.com/github/suraj-safi1/Pandas-Numpy/blob/main/PandasPractice.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
pip install pandas

Requirement already satisfied: pandas in /usr/local/lib/python3.7/dist-packages (1.1.5)
Requirement already satisfied: python-dateutil>=2.7.3 in /usr/local/lib/python3.7/dist-packages (from pandas) (2.8.2)
Requirement already satisfied: pytz>=2017.2 in /usr/local/lib/python3.7/dist-packages (from pandas) (2018.9)
Requirement already satisfied: numpy>=1.15.4 in /usr/local/lib/python3.7/dist-packages (from pandas) (1.19.5)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.7/dist-packages (from python-dateutil>=2.7.3->pandas) (1.15.0)

In [3]:
import pandas as pd
list=[12,34,55,67,88,90]
ht_ser=pd.Series(list)

In [4]:
type(ht_ser)

pandas.core.series.Series

In [ ]:
#C:\Users\safis\Downloads\auto-mpg.data

In [ ]:
C:\Users\safis\Downloads

In [17]:
auto_mpg=pd.read_csv("https://archive.ics.uci.edu/ml/machine-learning-databases/auto-mpg/auto-mpg.data",delim_whitespace=True,header= None)

In [21]:
auto_mpg.head()

    mpg  cyn     cc     hp      wt   acc  yr  origin                       name
0  18.0    8  307.0  130.0  3504.0  12.0  70       1  chevrolet chevelle malibu
1  15.0    8  350.0  165.0  3693.0  11.5  70       1          buick skylark 320
2  18.0    8  318.0  150.0  3436.0  11.0  70       1         plymouth satellite
3  16.0    8  304.0  150.0  3433.0  12.0  70       1              amc rebel sst
4  17.0    8  302.0  140.0  3449.0  10.5  70       1                ford torino

In [22]:
auto_mpg.mpg.mean()

23.514572864321615

In [20]:
auto_mpg.columns=['mpg','cyn','cc','hp','wt','acc','yr','origin','name']